<div class="center-form">
    <div style="margin: auto;">
    <img src="logo.jpg" alt="Logo" claas="logo" style="height: 1.5cm; width: 1.5cm;">
    <h2>Enter Details to Register</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please provide your name!">
                <nz-input-group nzPrefixIcon="idcard">
                    <input type="text" nz-input formControlName="name" placeholder="Enter your name">

                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please provide your Email!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Enter your email">

                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Enter your password">

                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzBlock [disabled]="registerForm.invalid" nzType="primary" class="w-100">
            Register
        </button>
    </form>
</div>
</div>