<div class="service-details-form-container">
    <nz-form nzLayout="vertical" class="service-details-form" [formGroup]="updateServiceForm">
    
        <div class="form-title"><strong>Update Service Details</strong></div>
    
        <nz-form-item>
            <nz-form-control [nzSpan]="16" [nzOffset]="4">
              <input nz-input formControlName="type" placeholder="Service Type" />
    
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="16" [nzOffset]="4">
              <input nz-input formControlName="serviceName" placeholder="Service Name" />
                
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="16" [nzOffset]="4">
              <input nz-input formControlName="price" placeholder="Service Price" />
                
            </nz-form-control>
            
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nz-form-item-control [nzSpan]="11" [nzOffset]="4">
                <button nz-button-nzType="primary" type="submit" (click)="submitForm()">Update</button>
            </nz-form-label>
        </nz-form-item>
    </nz-form>
    
    
    </div>