

.content {
    padding: 100px; /* Padding around the content */
    overflow-y: scroll; /* Allows vertical scrolling */
    height: 100vh; /* Height of the viewport */
  }
  
  .image {
    width: 100%; /* Adjust the image size */
    margin-bottom:10px; /* Spacing between images */
    padding-top: 0;
  }
  